.hero {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(8,0,58,0.5), rgba(8,0,58,0.5)), url('../../Assets/Img/header_4.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    max-width: 750px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero-text h1 {
    font-size:80px;
    font-weight: 600;
}

.hero-text p {
    font-size: 35px;
    margin: 50px auto 20px;
    font-weight: 600;
}

/* Media Queries */

@media (max-width: 650px) {

.hero-text h1 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
}

.hero-text p {
    font-size: 14px;
    margin: 15px auto 30px;
}

}

@media (max-width: 500px) {

    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    
    .hero-text p {
        font-size: 24px;
        margin: 15px auto 30px;
    }
    
    }






