@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "garamond", serif;
}

body {
  background: #f5f5f5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.flex {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
}

.chapterHeading {
  margin-bottom: 40px;
  margin-top: 60px;
}

.headlinePadding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footnote {
  vertical-align: top;
  color: blue;
}

.footnote-size {
  max-width: 400px;
}

.btn {
  background: #fff;
  color: #212121;
  padding: 8px 20px;
  font-size: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.btn img {
  width: 10px;
  margin-left: 10px;
}

.btn.dark-btn {
  background: #212ea0;
  color: #fff;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapter-container {
  margin: 50px auto;
  width: 70%;
}

.image {
  max-width: 400px;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
}

.chapterFooter {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 900;
  color: purple;
  display: flex;
  justify-content: space-between;
}




/* Media Query */

@media (max-width: 1200px) {
    .container {
      padding-left: 5%;
      padding-right: 5%;
    }

    .btn{
      padding: 14px 22px;
    }
}

@media (max-width: 600px) {
  .image-container {
    display: block;
  }

  .image {
    margin-bottom: 20px;
  }

  .container {
    width: 90%;
  }

}
