.container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding-top: 40px;
}

.bar {
    background-color: #81ADC1;
}

.program img {
    width: 100%;
    border-radius: 40px;
    padding: 20px;
}

.program {
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
}

.feature-header {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(108, 122, 137, 0.7);
    /* background: rgba(0, 15, 152, 0.3); */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    color:#fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    padding-left: 10%;
    padding-right: 10%;
    transition: 0.4s;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

.margin-part {
    margin-bottom: 18px;
    margin-left: 20px;
    font-size: 24px;
    text-align: left;
}

.feature-header {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

/* Media Query */


@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .program {
        flex-basis: 100%;
        margin: 20px;
    }

}


@media (max-width: 500px) {
    .margin-part {
        font-size: 18px;
        text-align: left;
    }

}






